@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  input textarea,
  select {
    @apply block w-full px-4 py-3 border rounded appearance-none focus:bg-white border-neutral-400;
  }
  input::placeholder {
    @apply text-neutral-500;
  }
}

@layer components {
  .pill {
    @apply px-3 py-1 text-xs text-white rounded-full bg-neutral-600 whitespace-nowrap;
  }
  .btn {
    @apply pill rounded bg-primary text-white;
  }
  .box {
    @apply rounded shadow p-4 py-2 text-sm;
  }
  .prompt {
    @apply mt-0 mb-4 font-lily text-center text-purple-600 font-extrabold text-5xl;
  }
}

@layer utilities {
}

.animate-character {
  background-image: linear-gradient(-225deg, #9333ea 0%, #581c87 29%, #d946ef 67%, #701a75 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  line-height: 4rem;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
